---
BasedOnStyle: Google
IndentWidth: '4'
ColumnLimit: '120'

IncludeCategories:
  # main include automatically assigned to Priority 0
  - Regex: '^".*_(conf|config)\.(hpp|h)"$' # config headers
    Priority: 3
  - Regex: '^".*"$' # sibling & project headers
    Priority: 1
  - Regex: '^<.*>$' # system & library headers
    Priority: 2

# Format function arguments and parameters
BinPackArguments: 'false'
BinPackParameters: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AlignAfterOpenBracket: BlockIndent
SpaceBeforeParens: ControlStatements

# Constructor Formatting
PackConstructorInitializers: CurrentLine
IndentAccessModifiers: 'false'
AccessModifierOffset: '-4'
SpaceBeforeCtorInitializerColon: 'true'
BreakConstructorInitializers: BeforeColon
LambdaBodyIndentation: OuterScope

AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
AllowShortEnumsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'Inline'
AllowShortLambdasOnASingleLine: 'All'

# Switch / Case
IndentCaseLabels: 'true'
IndentCaseBlocks: 'false'

# Preprocessor stuff
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: Right
AlignTrailingComments: 'false'
SpacesBeforeTrailingComments: 1

# Alignment of procedural code
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignConsecutiveBitFields: Consecutive

AlignOperands: AlignAfterOperator
# BreakBeforeTernaryOperators: 'false'
BreakBeforeBinaryOperators: 'true'

# Pointers and East/West Const
DerivePointerAlignment: 'false'
PointerAlignment: Left
QualifierAlignment: Leave
# QualifierOrder: ['volatile', 'constexpr', 'static', 'inline', 'type', 'const']

Cpp11BracedListStyle: 'true'

# Vertical Whitespace
SeparateDefinitionBlocks: Leave
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never

# AlignArrayOfStructures: Right
# InsertTrailingCommas: 'Wrapped'


AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 9999 # We really hate breaking after return types
PenaltyBreakAssignment: 999 # Prefer not to break around =

FixNamespaceComments: 'true'
# NamespaceIndentation: All
...
