<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot_ros2_control" params="name prefix use_mock_hardware">

    <ros2_control name="${name}" type="system">
      <xacro:unless value="${use_mock_hardware}">
        <hardware>
          <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
          <param name="can">can0</param>
        </hardware>
      </xacro:unless>
      <xacro:if value="${use_mock_hardware}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>
      <joint name="${prefix}left_wheel_joint">
        <param name="node_id">0</param>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <param name="node_id">1</param>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>